.description {
  padding: 0 1em;
  h3 {
    font-size: 1.8rem;
    font-weight: 600;
  }
  img {
    margin-top: 0.5em;
    width: 40%;
    margin-left: -0.5em;
    display: none;
  }
  p {
    margin-top: 1.5em;
    font-size: 1.2rem;
  }
}
