// Colors
$color-primary: #2073c2;

$color-secondary: #4e98dd;

$color-tertiary: #a4c2df;

$color-white: #ffffff;
$color-black: #000000;

$color-gray: #979797;
$color-gray-lgt: rgb(218, 218, 218);

// Typography ../../assets/fonts/font
@font-face {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  src: url("../../../dist/assets/fonts/lato/Lato-Black.ttf");
}

@font-face {
  font-family: "Gotham";
  font-weight: 500;
  src: url("../fonts/Gotham-Medium.ttf");
}

@font-face {
  font-family: "Gotham";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/Gotham-Medium-Italic.ttf");
}

@font-face {
  font-family: "Gotham";
  font-weight: 700;
  src: url("../fonts/Gotham-Black.ttf");
}

$font-main: "Lato", "Helvetica", "Arial", sans-serif;
