.header {
  position: fixed;
  z-index: 9;
  &__wrapper {
    display: flex;
  }
  &__left-wrapper {
    width: 100vw;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-black;
    .logo {
      img {
        width: 40px;
        cursor: pointer;
      }
    }
    .nav-open-btn {
      img {
        width: 30px;
        cursor: pointer;
      }
    }
  }
}
